numpy>=1.26,<3
pandas>=2.2,<3
opencv-python-headless>=4.10,<5
Pillow>=10,<12
torch>=2.5,<3
torchvision>=0.20,<1
pydantic>=2.8,<3
PyYAML>=6,<7
tqdm>=4.66,<5
scikit-learn>=1.5,<2
soundfile>=0.12,<1
setuptools>=70,<81
PytorchWildlife
supervision
